{% extends "base/template.html.twig" %}

{% block content %}
<body>
  <section>
    
    <div>
    <h1>New Message</h1>
  </div>
  </section>
  <section class="center-align" >
      <div class="container">
          <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
         <label for="to"></label>
          To: <input id="to" type="text" class="validate">
        </div>
        <div class="input-field col s6">
          <label for="cc"></label>
         CC: <input id="cc" type="text" class="validate">
          <p> </p>
        </div>
          <div class="card-panel teal lighten-2">
              <div class="row">
        
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea id="textarea1" rows= "10" cols= "50"class="materialize-textarea"></textarea>
                      <label for="textarea1"></label>
                    </div>
                  </div>
                </form>
              </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Send
               <i class="material-icons right"></i>
               <button class="btn waves-effect waves-light" type="submit" name="action">Cancel
               <i class="material-icons right"></i>
            </button>
            </div>  
          </div>
          </div>

        </div>
    </section> 

</body>


{% endblock content %}
