{% extends "base/template.html.twig" %}

			{% block nav %}
				  
			{% endblock nav %}

{% block content %}
<body>
	<section>
		
		<div>
    <h1 class="center-align">Create an Account</h1>
  </div>
	</section>
	<section class="center-align" >

     	<div class="container">
     		<div class="col s6">
     			<div class="card-panel teal lighten-2">
		        	<div class="row">

		     
		        		<div class="input-field col s12" style="color:white">
		          			<input id="email" type="email" class="validate"style="color:white">
		          			<label for="email" style="color:white">Email</label>
		       			</div>
		     		</div>
		      		<div class="row">
		        		<div class="input-field col s12"style="color:white">
		         	 		<input id="password" type="password" class="validate"style="color:white">
		          			<label for="password"style="color:white">Password</label>
		         			
		             		 
		         		</div>
		       		</div>

		       		<div class="row">
		        		<div class="input-field col s12"style="color:white">
		         	 		<input id="password" type="password" class="validate"style="color:white">
		          			<label for="password"style="color:white">Confirm Password</label>
		         			
		             		 
		         		</div>
		       		</div>
		       		<a class="waves-effect teal darken-2 btn-large"> Sign-up</a>
		       	</div>	
        	</div>
        	
        	<div class="center-align">	        				
				<h3>- Or -</h3>

				<a class="waves-effect blue darken-4 btn-large"> log-in with Facebook</a>
				<p></p>
				<a class="waves-effect red lighten-2 btn-large">log-in with Google</a>
        	</div>

        </div>
  	</section> 

</body>


{% endblock content %}
